h1{
    font-size : 30px;
    color : rgb(9, 80, 9);
}
h2{
    font-size: 24px;
    color  : red
}
p{
    font-size: 16px;
    color : white 
}
body {
    color:black;
    background-color:white;
    background-image:url(fond_gris.jpg);
    margin:0;
    }
