h1{
    font-size : 30px;
    color : rgb(9, 80, 9);
}
h2{
    font-size: 24px;
    color  : red;
}
h3{
    font-size : 22px;
    color : whitesmoke;
    
}
p{
    font-size: 16px;
    color : white ;
    text-align: justify;
}
body {
    color:black;
    background-color:white;
    background-image:url(fond_gris.jpg);
    margin:30px ;
    }

.alinea { 
      text-indent: 20px; 
    }


.element-flexible{
    flex: 1 1 50px;
    background-color: rgb(132, 201, 247); /*Bleu*/
    width: 40%;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 10px;
}

